name: huABus
version: '1.8.0'
slug: huawei_solar_modbus_mqtt
description: Huawei Solar Modbus via MQTT and Auto-Discovery
url: https://github.com/arboeh/huABus
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
hassio_api: true
hassio_role: default
homeassistant_api: false
host_network: false
startup: services
boot: auto
logo: logo.png
icon: icon.png
services:
  - mqtt:need
apparmor: true
codenotary: notary@home-assistant.io

options:
  modbus:
    host: '192.168.1.100'
    port: 502
    auto_detect_slave_id: true
    slave_id: 1
  mqtt:
    broker: 'core-mosquitto'
    port: 1883
    username: ''
    password: ''
    topic_prefix: 'huawei-solar'
    discovery: true
  advanced:
    log_level: 'INFO'
    status_timeout: 180
    poll_interval: 30

schema:
  modbus:
    host: str
    port: port
    auto_detect_slave_id: bool
    slave_id: int(0,247)?
  mqtt:
    broker: str
    port: port
    username: str?
    password: password?
    topic_prefix: str
    discovery: bool
  advanced:
    log_level: list(TRACE|DEBUG|INFO|WARNING|ERROR)
    status_timeout: int(30,600)
    poll_interval: int(10,300)
