name: huABus
version: '1.7.4'
slug: huawei_solar_modbus_mqtt
description: Huawei Solar Modbus via MQTT and Auto-Discovery
url: https://github.com/arboeh/huABus
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
hassio_api: true
hassio_role: default
homeassistant_api: false
host_network: false
startup: services
boot: auto
logo: logo.png
icon: icon.png
services:
  - mqtt:need
apparmor: true
options:
  modbus_host: '192.168.1.100'
  modbus_port: 502
  slave_id: 1
  mqtt_host: 'core-mosquitto'
  mqtt_port: 1883
  mqtt_user: ''
  mqtt_password: ''
  mqtt_topic: 'huawei-solar'
  log_level: 'INFO'
  status_timeout: 180
  poll_interval: 30
schema:
  modbus_host: str
  modbus_port: port
  slave_id: int(1,247)
  mqtt_host: str
  mqtt_port: port
  mqtt_user: str?
  mqtt_password: password?
  mqtt_topic: str
  log_level: list(TRACE|DEBUG|INFO|WARNING|ERROR)
  status_timeout: int(30,600)
  poll_interval: int(10,300)
