name: huABus
version: '1.8.0-dev'
slug: huawei_solar_modbus_mqtt_dev
description: Huawei Solar Modbus via MQTT and Auto-Discovery (Dev)
url: https://github.com/arboeh/huABus
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
hassio_api: true
hassio_role: default
homeassistant_api: false
host_network: false
startup: services
boot: auto
logo: logo.png
icon: icon.png
services:
  - mqtt:need
apparmor: true
codenotary: notary@home-assistant.io

options:
  modbus_host: '192.168.1.100'
  modbus_port: 502
  modbus_auto_detect_slave_id: true
  modbus_slave_id: 1
  mqtt_broker: 'core-mosquitto'
  mqtt_port: 1883
  mqtt_username: ''
  mqtt_password: ''
  mqtt_topic_prefix: 'huawei-solar'
  log_level: 'INFO'
  status_timeout: 180
  poll_interval: 30

schema:
  modbus_host: str
  modbus_port: port
  modbus_auto_detect_slave_id: bool
  modbus_slave_id: int(0,247)?
  mqtt_broker: str
  mqtt_port: port
  mqtt_username: str?
  mqtt_password: password?
  mqtt_topic_prefix: str
  log_level: list(TRACE|DEBUG|INFO|WARNING|ERROR)
  status_timeout: int(30,600)
  poll_interval: int(10,300)
